@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
  --primary: #0065FC;
  --primary-light: #DEEBFF;
  --secondary: #F2F2F2;
  --secondary-darker: #D9D9D9;
}

html,
body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

.main__wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1450px;
}

/*header and navbar*/

.header__logo {
  position: relative;
  width: 30vw;
  margin-left: 10px;
}

.navbar__container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  top: 0;
}

.navbar__list,
.navbar__inscription,
.header__logo,
.navbar__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__inscription,
.header__logo {
  height: 79px;
}

.navbar__inscription {
  margin-right: 16px;
  font-weight: bold;
}

.navbar__list-item a {
  color: #000;
}

.navbar__inscription a,
.navbar__list-item a:focus,
.navbar__list-item a:hover {
  color: var(--primary);
}

.navbar__list-item {
  width: 50vw;
  height: 41px;
  border-bottom: 2px var(--secondary) solid;
}

.navbar__list-item:hover {
  border-bottom: 2px var(--primary) solid;
}


/* main */

.main__container,
.subsection__container,
.subsection__wrapper {
  width: 100%;
}

.main__container {
  max-width: 1600px;
  margin-top: 41px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.subsection__container {
  display: flex;
  flex-direction: column;
  padding: 5px 10px 20px 10px;
  margin-bottom: 20px;
}

.subsection__wrapper .subsection__container:first-child {
  background-color: var(--secondary);
}

.subsection__header--icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding: 0 10px;
  margin: 0 auto;
}

/* card list and card */

.card-list {
  width: 100%;
}

.card-list--flex,
.card-list--grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  border-radius: 15px;
  background-color: #fff;
  margin: 7px 0;
  box-shadow: 1px 1px 10px #cbcbcb;
  cursor: pointer;
  transition: all 0.5s ease;
}

.card:hover {
  opacity: 0.6;
}

.card--media-on-side {
  width: 300px;
  display: flex;
  justify-content: space-between;
  height: 120px;
}

.card--media-on-side .card__media {
  width: 116px;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.card--media-on-side .card__media img {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.card--media-on-side .card__body {
  margin: 0 8px 0 15px;
}

.card__media img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.border--white {
  border: 4px solid white;
}

.card__heading {
  font-size: 1rem;
}

.card__info {
  font-size: 0.8rem;
}

.card--media-on-side .card__heading {
  margin: 8px 0;
}

.card--media-on-side .card__info {
  margin-top: 2px;
  margin-bottom: 20px;
}

.card--squared,
.card--grid {
  width: 300px;
  height: 168px;
}

.card--squared {
  display: flex;
  flex-direction: column;
}

.card--squared .card__media {
  height: 100px;
  width: 100%;
}

.card--squared .card__media img,
.card__img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card--squared .card__heading,
.card--squared .card__info {
  margin: 0 0 4px 0;
}

.card__rating-block {
  height: 16px;
  display: flex;
  align-content: center;
}

.card--squared .card__body {
  margin: 2px 10px 0 10px;
}

.card-list__wrapper {
  width: 100%;
}

.card__img {
  width: 100%;
  height: calc(100% - 58px);
  object-fit: cover;
}

.card__caption {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 0;
  display: flex;
  align-items: center;
  height: 58px;
  background-color: #fff;
  padding-left: 10px;
  font-weight: bold;
}

/* icons */

.icon--active {
  color: var(--primary);
}

.icon--filled {
  color: var(--primary);
}

.icon--empty {
  color: var(--secondary-darker);
}

.icon--small {
  font-size: 0.7rem;
}

.icon-border--round {
  border-radius: 50%;
  width: 1.1rem;
  height: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--secondary-darker);
}

/* footer */

.footer__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--secondary);
  padding-bottom: 5px;
  padding-top: 20px;
}

.footer__block {
  width: 100%;
  padding: 20px 0 20px 23px;
}

.footer__block__header {
  margin: 0;
  padding-bottom: 16px;
  font-size: 1.1rem;
}

.footer__block__list-item {
  margin: 8px 0;
}

.footer__block__list-item a {
  color: #000;
}

.footer__block__list-item a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 576px) {
  
  /*header and navbar*/
  
  .header__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
  }
  
  .header__logo {
    width: 115px;
    margin-left: 20px;
  }
  
  .navbar__container {
    position: static;
  }
  
  .navbar__inscription {
    order: 2;
    width: 119px;
  }
  
  .navbar__list {
    order: 1;
  }
  
  .navbar__list-item {
    border-bottom: none;
  }
  
  .navbar__list-item:first-child {
    width: 162px;
  }
  
  .navbar__list-item:nth-child(2) {
    width: 102px;
  }
  
  .navbar__list,
  .navbar__inscription,
  .navbar__list-item,
  .header__logo {
    height: 100%;
  }
  
  .navbar__list-item:hover,
  .navbar__inscription:hover {
    border-bottom: 2px white solid;
    border-top: 2px var(--primary) solid;
  }
  
  .main__container {
    margin-top: 0;
  }
  
  /* card list and card */
  .card-list--flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .card--squared {
    width: 240px;
    height: 200px;
  }
  
  .card--squared .card__media {
    height: 116px;
  }
  
  .card--squared .card__heading {
    margin-bottom: 5px;
  }
  
  .card--squared .card__info {
    margin-bottom: 10px;
  }
  
  .card--squared .card__body {
    padding: 5px 0;
  }
  
  .card-list--grid {
    width: 100%;
    padding: 0 20px;
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 200px);
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    grid-template-areas: "f1 f2" "f1 f3" "f4 f6" "f5 f6";
  }

  .card--grid {
    height: unset;
    width: 100%;
  }
  
  .card--grid-1 {
    grid-area: f1;
  }
  
  .card--grid-2 {
    grid-area: f2;
  }
  
  .card--grid-3 {
    grid-area: f3;
  }
  
  .card--grid-4 {
    grid-area: f4;
  }
  
  .card--grid-5 {
    grid-area: f5;
  }
  
  .card--grid-6 {
    grid-area: f6;
  }
  
  /* footer */
  
  .footer__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 20px;
  }
  
  .footer__block {
    width: 40vw;
    box-sizing: border-box;
  }
  
}

@media only screen and (min-width: 768px)  {
  
  /*header and navbar*/
  
  .header__container {
    height: 114px;
    margin-left: 44px;
  }
  
  /*card-list */
  
  .card-list--grid {
    grid-column-gap: 60px;
  }
  
  /* footer */
  .footer__container {
    justify-content: space-around;
    padding-top: 30px;
  }
  
  .footer__block {
    width: 30vw;
  }
  
}

@media only screen and (min-width: 992px){
  
  /*card list and card */
  
  .card {
    margin: 15px 5px;
  }
  
  .card--grid {
    margin: 0;
  }
  
  .card-list,
  .card-list__wrapper {
    max-width: 996px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1250px) {
  
  /* main */
  
  .main__wrapper {
    padding: 0 52px;
  }
  
  .main__container {
    justify-content: center;
  }
  
  .subsection__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .subsection__wrapper .subsection__container:nth-child(2) {
    background-color: var(--secondary);
    border-radius: 15px;
    order: 1;
  }
  
  .subsection__wrapper .subsection__container:nth-child(1) {
    order: 2;
    border-radius: 15px;
  }
  
  .subsection__container--right {
    max-width: 27vw;
    margin-left: 2.5vw;
  }
  
  /* card-list */
  .card-list__wrapper {
    max-width: 100%;
  }
  
  .card-list--grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 235px 192px;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    padding: 0;
  }
  
  .card--grid-1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
  .card--grid-2 {
    height: 235px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  
  .card--grid-3 {
    margin-top: 30px;
    height: 162px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  
  .card--grid-4 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
  .card--grid-5 {
    height: 192px;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  
  .card--grid-6 {
    height: 192px;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
  }
}

@media only screen and (min-width: 1400px) {
  
  /* main */
  
  .subsection__container--right {
    max-width: 416px;
  }
  
  .subsection__container--left {
    width: 878px;
  }
  
  /*card list and card */
  
  .card--media-on-side {
    width: 340px;
    display: flex;
    justify-content: space-between;
    height: 140px;
  }
  
  .card--media-on-side .card__media {
    width: 130px;
  }
  
  .card--media-on-side .card__info {
    margin-bottom: 35px;
  }
}
