@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
  --primary: #0065FC;
  --primary-light: #DEEBFF;
  --secondary: #F2F2F2;
}

html,
body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/*header and navbar*/

.header__logo {
  position: relative;
  width: 30vw;
  margin-left: 10px;
}

.navbar__container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  top: 0;
}

.navbar__list,
.navbar__inscription,
.header__logo,
.navbar__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__inscription,
.header__logo {
  height: 79px;
}

.navbar__inscription {
  margin-right: 16px;
  font-weight: bold;
}

.navbar__list-item a {
  color: #000;
}

.navbar__inscription a,
.navbar__list-item a:focus,
.navbar__list-item a:hover {
  color: var(--primary);
}

.navbar__list-item {
  width: 50vw;
  height: 41px;
  box-sizing: border-box;
  border-bottom: 2px var(--secondary) solid;
}

.navbar__list-item:hover {
  border-bottom: 2px var(--primary) solid;
}


/* main */

.main__container {
  width: 100%;
  margin-top: 41px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.subsection__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px 10px 20px 10px;
  margin-bottom: 20px;
}

.subsection__container:nth-child(2) {
  background-color: var(--secondary);
}

.subsection__header--icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding: 0 10px;
  margin: 0 auto;
}

/* card list and card */

.card-list {
  width: 100%;
}

.card-list--flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  border-radius: 15px;
  background-color: #fff;
  margin: 5px 10px;
}

.card--media-on-side {
  width: 288px;
  display: flex;
  justify-content: space-between;
  height: 120px;
}

.card--media-on-side .card__media {
  width: 116px;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.card--media-on-side .card__media img {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.card--media-on-side .card__body {
  margin: 0 10px 0 20px;
}

.card__media img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.border--white {
  border: 4px solid white;
}

.card__heading {
  font-size: 1rem;
}

.card__info {
  font-size: 0.8rem;
}

.card--media-on-side .card__heading {
  margin: 8px 0;
}

.card--media-on-side .card__info {
  margin-top: 2px;
  margin-bottom: 20px;
}

.card--squared {
  width: 288px;
  height: 180px;
  display: flex;
  flex-direction: column;
}

.card--squared .card__media {
  height: 100px;
  width: 100%;
}

.card--squared .card__media img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card--squared .card__heading {
  margin: 5px 0;
}

.card--squared .card__info {
  margin: 5px 0;
}

.card--squared .card__body {
  margin: 5px 10px;
}


/* icons */

.icon--active {
  color: var(--primary);
}

.icon--filled {
  color: var(--primary);
}

.icon--empty {
  color: var(--secondary);
}

.icon--small {
  font-size: 0.7rem;
}

/* footer */

.footer__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--secondary);
  padding-bottom: 5px;
  padding-top: 20px;
  box-sizing: border-box;
}

.footer__block {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0 20px 23px;
}

.footer__block__header {
  margin: 0;
  padding-bottom: 16px;
  font-size: 1.1rem;
}

.footer__block__list-item {
  margin: 8px 0;
}

.footer__block__list-item a {
  color: #000;
}

.footer__block__list-item a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 576px) {
  
  /*header and navbar*/
  
  .header__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
  }
  
  .header__logo {
    width: 115px;
    margin-left: 20px;
  }
  
  .navbar__container {
    position: static;
  }
  
  .navbar__inscription {
    order: 2;
    width: 119px;
    box-sizing: border-box;
  }
  
  .navbar__list {
    order: 1;
  }
  
  .navbar__list-item {
    border-bottom: none;
  }
  
  .navbar__list-item:first-child {
    width: 162px;
  }
  
  .navbar__list-item:nth-child(2) {
    width: 102px;
  }
  
  .navbar__list,
  .navbar__inscription,
  .navbar__list-item,
  .header__logo {
    height: 100%;
  }
  
  .navbar__list-item:hover,
  .navbar__inscription:hover {
    border-bottom: 2px white solid;
    border-top: 2px var(--primary) solid;
  }
  
  /* main */
  
  .main__container {
    margin-top: 0;
  }
  
  /* card list and card */
  .card-list--flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .card--squared {
    width: 240px;
    height: 200px;
  }
  
  .card--squared .card__media {
    height: 116px;
  }
  
  /* footer */
  
  .footer__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 20px;
  }
  
  .footer__block {
    width: 40vw;
    box-sizing: border-box;
  }
  
}

@media only screen and (min-width: 768px)  {
  
  /*header and navbar*/
  
  .header__container {
    height: 114px;
    margin-left: 44px;
  }
  
  /* footer */
  .footer__container {
    justify-content: space-around;
    padding-top: 30px;
  }
  
  .footer__block {
    width: 30vw;
  }
  
}

@media only screen and (min-width: 992px){
  /* main */
  .subsection__container:nth-child(3) {
    background-color: var(--secondary);
    border-radius: 15px;
    order: 2;
  }
  
  .subsection__container:nth-child(2) {
    order: 3;
    border-radius: 15px;
  }
  
  .subsection__container:nth-child(4) {
    order: 4;
  }
  
  .subsection__container--30 {
    max-width: 320px;
  }
  
  .subsection__container--60 {
    width: 60vw;
  }
  
  /*card list and card */
  
  .card {
    margin: 15px 5px;
  }
}

@media only screen and (min-width: 1200px) {
  /* main */
  
  .main__container {
    justify-content: center;
  }
  
  .subsection__container--60 {
    margin-right: 40px;
  }
}

@media only screen and (min-width: 1400px) {
  
  /* main */
  
  .subsection__container--30 {
    width: 400px;
  }
  
  .subsection__container--60 {
    width: 800px;
  }
  
  /*card list and card */
  
  .card--media-on-side {
    width: 340px;
    display: flex;
    justify-content: space-between;
    height: 140px;
  }
  
  .card--media-on-side .card__media {
    width: 130px;
  }
  
  .card--media-on-side .card__info {
    margin-bottom: 35px;
  }
}
